/* h1{
    color: black; font-family: 'Helvetica Neue', sans-serif;  font-size: 45px; font-weight: normal; line-height: 48px; margin: 0; 
    animation-duration: 3s;
    animation-name: slidein;
}
body{
    background-color: #092756 ;
} */