{% extends 'base.html.twig' %}


{% block title %}Employe{% endblock %}
{% block body %}
    <h1 align="center">Créer un nouvelle employé</h1><br>
    <div class="container" align="center">
        <div class="row col-4 shadow-lg p-3 mb-5 bg-body rounded" align="left">
            {{ form(form)}}
            
        </div>
    </div>
{% endblock %}

